<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC59F46A1F4A7E5A00C514C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC59F4831F4A7E5A00C514C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC59F48E1F4A7E5A00C514C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
